<div class="editClientRoot">
    <div class="client">
        <mat-icon class="icon">{{newIcon}}</mat-icon>
    </div>
    <div class="settingsBackground">
        <div class="settingsContainer">
            <div class="nameSetting">
                <input type="text" [(ngModel)]="newName">
            </div>
            <div class="iconSetting">
                <div class="iconRow">
                    <div class="smallIconContainer" (click)="setNewIcon('account_balance')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='account_balance'}">
                        <mat-icon class="iconSmall">account_balance</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('eco')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='eco'}">
                        <mat-icon class="iconSmall">eco</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('gavel')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='gavel'}">
                        <mat-icon class="iconSmall">gavel</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('home')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='home'}">
                        <mat-icon class="iconSmall">home</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('work')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='work'}">
                        <mat-icon class="iconSmall">work</mat-icon>
                    </div>
                </div>
                <div class="iconRow">
                    <div class="smallIconContainer" (click)="setNewIcon('equalizer')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='equalizer'}">
                        <mat-icon class="iconSmall">equalizer</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('games')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='games'}">
                        <mat-icon class="iconSmall">games</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('radio')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='radio'}">
                        <mat-icon class="iconSmall">radio</mat-icon>
                    </div>
                    <div class="smallIconContainer" (click)="setNewIcon('king_bed')"
                        [ngClass]="{'smallIconContainer': true,'active':newIcon==='king_bed'}">
                        <mat-icon class="iconSmall">king_bed</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="confirm" (click)="save()">OK</div>
</div>