<h2 mat-dialog-title>
    <ng-container *ngIf="client.config.name===''; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
        {{client.host.name}}
    </ng-template>
    <ng-template #elseTemplate>
        {{client.config.name}}
    </ng-template>
</h2>

<mat-dialog-content>
    <table>
        <tr>
            <td>Latency:</td>
            <td>{{client.config.latency}}ms</td>
        </tr>
        <tr>
            <td>Volume:</td>
            <td *ngIf="!client.config.volume.muted">{{client.config.volume.percent}}%</td>
            <td *ngIf="client.config.volume.muted">muted</td>
        </tr>
        <tr>
            <td>Connected:</td>
            <td>{{client.connected}}</td>
        </tr>
    </table>
</mat-dialog-content>