.content {
  min-height: 100%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
}
.top {
  height: 100px;
}
.middle {
  display: flex;
  justify-content: center;
}
.client {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
.clientContainer {
  margin-bottom: -30px;
  position: relative;
}
.clientConnector {
  position: absolute;
  width: 130px;
  height: 100px;
  top: 65px;
  background-color: #292929;
  z-index: 0;
  background: radial-gradient(circle 100px at -124px 50%, transparent, transparent 131.4px, #292929 50px),
    radial-gradient(circle 100px at 189px 50%, transparent, transparent 131.4px, #292929 50px);
  background-size: 65px 100px, 65px 100px;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.activeConnector {
  background-color: #2b75ff;
  z-index: 0;
  background: radial-gradient(circle 100px at -124px 50%, transparent, transparent 131.4px, #06bfff 50px),
    radial-gradient(circle 100px at 189px 50%, transparent, transparent 131.4px, #2b75ff 50px);
  background-size: 65px 100px, 65px 100px;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.last {
  margin-bottom: 0px !important;
}
.active {
  background: linear-gradient(90deg, #06bfff 0%, #2b75ff 100%) !important;
}
.end {
  min-height: 100px;
  flex: 1 1 auto;
}
.side {
  width: 100%;
}
.groupContainer {
  min-width: 130px;
  min-height: 130px;
}
.groupSpacer {
  height: 47px;
}
.icon {
  font-size: 60px !important;
  width: 60px !important;
  height: 60px !important;
  color: white;
}
.editButton {
  position: absolute;
  margin-left: 119px;
  background-color: #292929;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22px;
  mat-icon {
    color: white;
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}
.glowRef {
  position: absolute;
  margin: 0;
  height: 130px;
  width: 130px;
  z-index: 0;
  border-radius: 65px;
}
.activeGlowRef {
  box-shadow: 0px 0px 134px #1c93ff, 0px 8px 10px rgba(0, 0, 0, 0.25);
}
.loading {
  justify-content: center;
  align-items: center;
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 610px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(90deg, #06bfff 0%, #2b75ff 100%);
    box-shadow: 0px 0px 134px #1c93ff, 0px 8px 10px rgba(0, 0, 0, 0.25);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    top: 0px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    top: 0px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    top: 240px;
    animation: lds-ellipsis2 0.6s infinite;
    z-index: 1;
  }
  .lds-ellipsis div:nth-child(4) {
    top: 480px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 240px);
    }
  }
}
