<div class="clientItem">
    <mat-toolbar class="clientHeader" color="secondary">
        <ng-container *ngIf="client.config.name===''; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <p class="clientTitle">{{client.host.name}}</p>
        </ng-template>
        <ng-template #elseTemplate>
            <p class="clientTitle">{{client.config.name}}</p>
        </ng-template>
        <div class="clientButtons">
            <button mat-icon-button class="clientEdit" (click)="editClient(client)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="clientInfo" (click)="infoClient(client)">
                <mat-icon>info</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="clientContent">
        <div class="clientVolumeControl">
            <client-volume-control [client]="client"></client-volume-control>
        </div>
    </div>
</div>