.clientHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.clientTitle {
  margin: 0 !important;
  font-weight: bold;
}
.clientItem {
  margin-left: 1rem;
}
