<div id="clientItem">
    <div id="clientHeader">
        <ng-container *ngIf="client.config.name===''; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <p class="clientTitle">{{client.host.name}}</p>
        </ng-template>
        <ng-template #elseTemplate>
            <p class="clientTitle">{{client.config.name}}</p>
        </ng-template>
        <mat-icon (click)="infoClient(client)">info</mat-icon>
        <mat-icon (click)="editClient(client)">edit</mat-icon>
    </div>
    <div id="clientContent">
        <div id="clientVolumeControl">
            <client-volume-control [client]="client"></client-volume-control>
        </div>
    </div>
</div>