<div id="groupItem">
    <mat-toolbar id="groupHeader" color="primary">
        <ng-container *ngIf="group.name===''; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <p class="groupTitle">Group{{index+1}}</p>
        </ng-template>
        <ng-template #elseTemplate>
            <p class="groupTitle">{{group.name}}</p>
        </ng-template>
        <div id="groupButtons">
            <button mat-icon-button id="groupEdit" (click)="editGroup(group)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button id="groupInfo" (click)="infoGroup(group)">
                <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button id="groupMute" (click)="muteGroup(group)">
                <mat-icon *ngIf="group.muted">volume_off</mat-icon>
                <mat-icon *ngIf="!group.muted">volume_up</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div id="groupContent">
        <div cdkDropList id="{{ group.id }}" [cdkDropListData]="group.clients"
            [cdkDropListConnectedTo]="allGroupDropLists" (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="clientContainer" *ngFor="let client of group.clients">
                <div cdkDragHandle id="clientDragHandle">
                    <mat-icon>drag_handle</mat-icon>
                </div>
                <client-item [client]="client"></client-item>
            </div>
        </div>
        <div id="groupStream">
            <stream-selection [server]="server" [group]="group"></stream-selection>
        </div>
    </div>
</div>