<div id="streamSelectionContainer">
    <div id="streamPlaying">
        <img src="assets/equalizer.svg" *ngIf="isStreamPlaying(findStreamForId(group.stream_id))">
    </div>
    <div id="streamSelection">
        <button mat-icon-button class="streamSelectionItem" id="previousStream" (click)="previousStream(group)">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div id="streamIcon" class="streamSelectionItem">
            <img class="icon" *ngIf="isSpotifyStream(findStreamForId(group.stream_id))"
                src="https://upload.wikimedia.org/wikipedia/commons/7/71/Spotify.png" alt="Spotify">
            <img class="icon" *ngIf="isBluetoothStream(findStreamForId(group.stream_id))"
                src="https://upload.wikimedia.org/wikipedia/commons/d/da/Bluetooth.svg" alt="Bluetooth">
            <img class="icon"
                *ngIf="!isBluetoothStream(findStreamForId(group.stream_id))&&!isSpotifyStream(findStreamForId(group.stream_id))"
                src="https://upload.wikimedia.org/wikipedia/commons/4/47/Sound-icon.svg" alt="Stream">
        </div>
        <button mat-icon-button class="streamSelectionItem" id="nextStream" (click)="nextStream(group)">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div id="streamLabel">
        <p>{{group.stream_id}}</p>
    </div>
</div>