<button mat-button id="clientMute" [disabled]="!client.connected" (click)="muteClient(client)">
    <mat-icon *ngIf="client.config.volume.muted">volume_off</mat-icon>
    <mat-icon *ngIf="!client.config.volume.muted">volume_up</mat-icon>
</button>
<button mat-button id="clientVolumeDown" [disabled]="!client.connected" (click)="reduceClientVolume(client)">
    <mat-icon>volume_mute</mat-icon>
</button>
<mat-slider #clientSlider min="0" max="100" [value]="client.config.volume.percent" thumbLabel="true"
    (slideend)="setClientVolume(client,clientSlider.value)" [disabled]="!client.connected">
</mat-slider>
<button mat-button id="clientVolumeUp" [disabled]="!client.connected" (click)="increaseClientVolume(client)">
    <mat-icon>volume_down</mat-icon>
</button>