@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include mat-core();

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bottomSheetContainer {
  background-color: #292929;
  border-radius: 53px;
  overflow: hidden !important;
  margin-bottom: -53px;
  padding-bottom: 53px !important;
}

.mat-slider-horizontal .mat-slider-wrapper {
  height: 8px !important;
}
.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 8px !important;
}
.mat-slider-horizontal .mat-slider-track-background {
  height: 8px !important;
}
.mat-slider-horizontal .mat-slider-track-fill {
  height: 8px !important;
  background: linear-gradient(90deg, #06bfff 0%, #2b75ff 100%);
}
.mat-slider-thumb {
  right: -6px !important;
  bottom: -6px !important;
  width: 12px !important;
  height: 12px !important;
  background-color: white !important;
  border-width: 0px !important;
  transform: scale(0.7) !important;
}
.editClientDialog {
  max-width: 100vw !important;
  .mat-dialog-container {
    padding: 0 !important;
    border-radius: 0 !important;
    background: none !important;
  }
  .mat-dialog-container {
    box-shadow: 0 0 !important;
  }
}
.blackout {
  background-color: #141414 !important;
}
.client.cdk-drag-placeholder {
  height: 0px;
  visibility: hidden;
}
