.groupName {
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 32px;
  color: white;
  margin-left: 45px;
  margin-right: 45px;
  width: 100%;
}
.indicatorHandle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
  padding-top: 17px;
  mat-icon {
    color: white;
  }
}
.bottomSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volumeControl {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 39px;
  margin-right: 39px;

  .volumeControlSlider {
    flex: auto;
    margin-left: 10px;
  }

  .mute {
    background-color: #141414;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 27px;

    .muteIcon {
      color: white;
      width: 21px;
      height: 21px;
      font-size: 21px;
      line-height: 21px !important;
    }
  }
}

.detailVolumeControl {
  width: 100%;

  .volumeControl {
    margin-left: 0px !important;
  }
}
.clientNameDetail {
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 32px;
  color: white;
  width: 100px;
  overflow: hidden;
}
.streamSelection {
  display: flex;
  width: 100%;
  justify-content: space-between;

  flex-wrap: wrap;

  .stream {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #1f1f1f;
    margin: 7px;
    img {
      color: white;
      width: 46px;
      height: 46px;
      font-size: 46px;
      line-height: 46px !important;
    }
  }
  .dummy {
    background-color: transparent !important;
  }
  .active {
    background: linear-gradient(90deg, #06bfff 0%, #2b75ff 100%);
    box-shadow: 0px 0px 20px #1c93ff, 0px 8px 10px rgba(0, 0, 0, 0.25);
  }
}
